/*the menu icon*/
.container{
	display:inline;
}
.menu-icon{
	display:inline-block;
	cursor:pointer;
	position:absolute;
	left:10px;

}
.menu-icon2{
	display:inline-block;
	cursor:pointer;
	position:absolute;
	left:10px;
	/*display:none;*/
}
.bar-ting{
	height:5px;
	width:35px;
	background-color:black;
	margin: 6px 0;
}
.menu-icon2 .bar-ting2{
	height:5px;
	width:35px;
	background-color:red;
	margin: 6px 0;
	
}